h1,
h2,
h3 {
    text-align: center;
}

h2 {
    color: green;
}

td {
    width: 100px;
    height: 100px;
    font-size: 5em;
    text-align: center;
}

table {
    margin: 5px auto;
}

.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.gamestate {
    height: 100px;
}