<h1>Tic Tac Toe</h1>
<div class="gamestate">
  <h3 *ngIf="isOurTurn()">It's your turn!</h3>
  <h3 *ngIf="isSpectating()">Spectating game...</h3>
  <h2 *ngIf="room.currentGame.boardState == 0">It's a draw!</h2>
  <h2 *ngIf="room.currentGame.boardState == 1">Player X wins!</h2>
  <h2 *ngIf="room.currentGame.boardState == 2">Player O wins!</h2>
</div>
<table>
  <tr>
    <td (click)="selectCell(0,0)">{{ getTextRepresentationOfCellState(room.currentGame.board[0][0])}} </td>
    <td (click)="selectCell(1,0)" class="vert">{{ getTextRepresentationOfCellState(room.currentGame.board[1][0])}} </td>
    <td (click)="selectCell(2,0)">{{ getTextRepresentationOfCellState(room.currentGame.board[2][0])}} </td>
  </tr>
  <tr>
    <td (click)="selectCell(0,1)" class="hori">{{ getTextRepresentationOfCellState(room.currentGame.board[0][1])}} </td>
    <td (click)="selectCell(1,1)" class="vert hori">{{ getTextRepresentationOfCellState(room.currentGame.board[1][1])}}
    </td>
    <td (click)="selectCell(2,1)" class="hori">{{ getTextRepresentationOfCellState(room.currentGame.board[2][1])}} </td>
  </tr>
  <tr>
    <td (click)="selectCell(0,2)">{{ getTextRepresentationOfCellState(room.currentGame.board[0][2])}} </td>
    <td (click)="selectCell(1,2)" class="vert">{{ getTextRepresentationOfCellState(room.currentGame.board[1][2])}} </td>
    <td (click)="selectCell(2,2)">{{ getTextRepresentationOfCellState(room.currentGame.board[2][2])}} </td>
  </tr>
</table>

<button *ngIf="isGameEnded() && !isSpectating()" (click)="newGame()">New game</button>

<div style="margin-top: 10px;">
  <b>You are playing as: {{ getTextRepresentationOfCellState(player) }}</b>
  <br /><br />
  <p>Player X wins: {{ room.playerXWins }}</p>
  <p>Player O wins: {{ room.playerOWins }}</p>
  <p>Draws: {{ room.draws }}</p>
</div>
