<div *ngIf="!room.playerX || !room.playerO; else gameBlock">
  <div *ngIf="!room.playerX && !room.playerO; else elseBlock">
    <p>Choose your Icon</p>
    <div class="row justify-content-center align-self-center">
      <div class="col-sm-3"></div>
    </div>
    <div class="row justify-content-center align-self-center">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">X</h1>
            <button class="btn btn-primary" (click)="select(1)">Select</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">O</h1>
            <button class="btn btn-primary" (click)="select(2)">Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div *ngIf="player == 0; else waitingBlock">
      <button *ngIf="!room.playerX" class="btn btn-primary" (click)="select(1)">Join room as X</button>
      <button *ngIf="!room.playerO" class="btn btn-primary" (click)="select(2)">Join room as O</button>
    </div>
    <ng-template #waitingBlock>
      Waiting for other player...
    </ng-template>
  </ng-template>
</div>
<ng-template #gameBlock>
  <app-game [room]="room" [player]="player"></app-game>


  <button *ngIf="player != 0" type="button" class="btn btn-danger" (click)="destroyRoom()">Destroy room</button>
</ng-template>
