<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Room name</span>
  </div>
  <input type="text" class="form-control" placeholder="For example: My Tic Tac Toe room" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="roomName" />
  <button type="button" class="btn btn-primary" (click)="createRoom()">Create</button>
</div>
